body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

form {
    width: 50%;
    margin: 0 auto;
}

label {
    display: block;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#error-message {
    color: red;
}

#tabelaRegistros {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

#tabelaRegistros th, #tabelaRegistros td {
    border: 1px solid #ddd;
    padding: 9px;
    text-align: left;
}

#tabelaRegistros th {
    background-color: #f2f2f2;
}

#registros {
    text-align: center;
}
